.bodyMargin{margin-left: 50pt; margin-right: 50pt;}
a.topMenu{text-decoration: none; color: #999; cursor: pointer;font: 900 18px/22px "Arial", Helvetica, sans-serif;}
span.topMenu{margin: 0 10px 0 -10px;padding: 1px 8px 5px 18px;}
a:hover.topMenu{color: #0d7fff;}
.button {color:maroon; font:20pt Futura, Century Gothic, AppleGothic, sans-serif;font-size:100%; padding:4px;
background-color:#dddddd; border-radius:10px; cursor:pointer;}
 .button:hover {background-color:#aaaaaa;}
 
.button1{width:100pt;font-size:14pt;
border:1px solid #7d99ca; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF; background-color: #a5b8da;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#a5b8da), to(#7089b3));
 background-image: -webkit-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -moz-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -ms-linear-gradient(top, #a5b8da, #7089b3);
 background-image: -o-linear-gradient(top, #a5b8da, #7089b3);
 background-image: linear-gradient(to bottom, #a5b8da, #7089b3);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a5b8da, endColorstr=#7089b3);
}

.button1:hover{
 border:1px solid #5d7fbc; background-color: #819bcb;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#819bcb), top(#536f9d));
 background-image: -webkit-linear-gradient(top, #819bcb, #536f9d);
 background-image: -moz-linear-gradient(top, #819bcb, #536f9d);
 background-image: -ms-linear-gradient(top, #819bcb, #536f9d);
 background-image: -o-linear-gradient(top, #819bcb, #536f9d);
 background-image: linear-gradient(to bottom, #819bcb, #536f9d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#819bcb, endColorstr=#536f9d);
}

.button3{width:130pt;font-size:13pt;
border:1px solid #bee1fa; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #191919; background-color: #f2f9fe;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#f2f9fe), to(#d6f0fd));
 background-image: -webkit-linear-gradient(top, #f2f9fe, #d6f0fd);
 background-image: -moz-linear-gradient(top, #f2f9fe, #d6f0fd);
 background-image: -ms-linear-gradient(top, #f2f9fe, #d6f0fd);
 background-image: -o-linear-gradient(top, #f2f9fe, #d6f0fd);
 background-image: linear-gradient(to bottom, #f2f9fe, #d6f0fd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f2f9fe, endColorstr=#d6f0fd);
}

.button3:hover{
 border:1px solid #93cdf7; background-color: #c3e3fa;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#c3e3fa), top(#a5defb));
 background-image: -webkit-linear-gradient(top, #c3e3fa, #a5defb);
 background-image: -moz-linear-gradient(top, #c3e3fa, #a5defb);
 background-image: -ms-linear-gradient(top, #c3e3fa, #a5defb);
 background-image: -o-linear-gradient(top, #c3e3fa, #a5defb);
 background-image: linear-gradient(to bottom, #c3e3fa, #a5defb);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#c3e3fa, endColorstr=#a5defb);
}

.button2{width:100pt;font-size:14pt;
border:1px solid #b7b7b7; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #F5F5F5; background-color: #d3d3d3;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#d3d3d3), to(#707070));
 background-image: -webkit-linear-gradient(top, #d3d3d3, #707070);
 background-image: -moz-linear-gradient(top, #d3d3d3, #707070);
 background-image: -ms-linear-gradient(top, #d3d3d3, #707070);
 background-image: -o-linear-gradient(top, #d3d3d3, #707070);
 background-image: linear-gradient(to bottom, #d3d3d3, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#d3d3d3, endColorstr=#707070);
}

.button2:hover{
 border:1px solid #a0a0a0; background-color: #bababa;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#bababa), top(#575757));
 background-image: -webkit-linear-gradient(top, #bababa, #575757);
 background-image: -moz-linear-gradient(top, #bababa, #575757);
 background-image: -ms-linear-gradient(top, #bababa, #575757);
 background-image: -o-linear-gradient(top, #bababa, #575757);
 background-image: linear-gradient(to bottom, #bababa, #575757);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#bababa, endColorstr=#575757);
}

/* .button4{width:100pt;font-size:14pt;
border:1px solid #72021c; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #F5F5F5; background-color: #A90329;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#A90329), to(#6d0019));
 background-image: -webkit-linear-gradient(top, #A90329, #6d0019);
 background-image: -moz-linear-gradient(top, #A90329, #6d0019);
 background-image: -ms-linear-gradient(top, #A90329, #6d0019);
 background-image: -o-linear-gradient(top, #A90329, #6d0019);
 background-image: linear-gradient(to bottom, #A90329, #6d0019);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#A90329, endColorstr=#6d0019);
}

.button4:hover{
 border:1px solid #450111; background-color: #77021d;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#77021d), top(#3a000d));
 background-image: -webkit-linear-gradient(top, #77021d, #3a000d);
 background-image: -moz-linear-gradient(top, #77021d, #3a000d);
 background-image: -ms-linear-gradient(top, #77021d, #3a000d);
 background-image: -o-linear-gradient(top, #77021d, #3a000d);
 background-image: linear-gradient(to bottom, #77021d, #3a000d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#77021d, endColorstr=#3a000d);
} */

.button4{width:100pt;font-size:14pt;
border:1px solid #ff6e6e; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF; background-color: #FFA6A6;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#FFA6A6), to(#6D0019));
 background-image: -webkit-linear-gradient(top, #FFA6A6, #6D0019);
 background-image: -moz-linear-gradient(top, #FFA6A6, #6D0019);
 background-image: -ms-linear-gradient(top, #FFA6A6, #6D0019);
 background-image: -o-linear-gradient(top, #FFA6A6, #6D0019);
 background-image: linear-gradient(to bottom, #FFA6A6, #6D0019);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#FFA6A6, endColorstr=#6D0019);
}

.button4:hover{
 border:1px solid #ff4040; background-color: #960325;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#960325), top(#AB2B2B));
 background-image: -webkit-linear-gradient(top, #960325, #AB2B2B);
 background-image: -moz-linear-gradient(top, #960325, #AB2B2B);
 background-image: -ms-linear-gradient(top, #960325, #AB2B2B);
 background-image: -o-linear-gradient(top, #960325, #AB2B2B);
 background-image: linear-gradient(to bottom, #960325, #AB2B2B);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#960325, endColorstr=#AB2B2B);
}

.form{height: 23pt;}
 .form1{height: 23pt; width: 12%}
 .rowWidth{width: 35%;}
 .rowWidth2{width: 20%;}