.menu{

border:none;

border:0px;

margin:0px;

padding:0px;

font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;

font-size:14px;

font-weight:bold;

}

.menu ul{

background:#666666;

height:35px;

list-style:none;

margin:0;

padding:0;

}

.menu li{

float:left;

padding:0px;

}

.menu li a{

background:#666666 url("http://4.bp.blogspot.com/_jM8-wHc3NKY/TQsZSeQYKQI/AAAAAAAAAGU/0AgHYW2zktQ/s1600/seperator.gif") bottom right no-repeat;

color:#cccccc;

display:block;

font-weight:normal;

line-height:35px;

margin:0px;

padding:0px 25px;

text-align:center;

text-decoration:none;

}

.menu li a:hover, .menu ul li:hover a{

background: #2580a2 url("http://3.bp.blogspot.com/_jM8-wHc3NKY/TQsZNT36uyI/AAAAAAAAAGM/F8t08m7-5tw/s1600/hover.gif") bottom center no-repeat;

color:#FFFFFF;

text-decoration:none;

}

.menu li ul{

background:#666666;

display:none;

height:auto;

padding:0px;

margin:0px;

border:0px;

position:absolute;

width:225px;

z-index:200;

/*top:1em;

/*left:0;*/

}

.menu li:hover ul{

display:block;



}

.menu li li {

background:url('http://1.bp.blogspot.com/_jM8-wHc3NKY/TQsZUcZYwkI/AAAAAAAAAGY/zNSlkfCsai8/s1600/sub_sep.gif') bottom left no-repeat;

display:block;

float:none;

margin:0px;

padding:0px;

width:225px;

}

.menu li:hover li a{

background:none;



}

.menu li ul a{

display:block;

height:35px;

font-size:12px;

font-style:normal;

margin:0px;

padding:0px 10px 0px 15px;

text-align:left;

}

.menu li ul a:hover, .menu li ul li:hover a{

background:#2580a2 url('http://4.bp.blogspot.com/_jM8-wHc3NKY/TQsZPiSwCMI/AAAAAAAAAGQ/VBSL8auDxzc/s1600/hover_sub.gif') center left no-repeat;

border:0px;

color:#ffffff;

text-decoration:none;

}

.menu p{

clear:left;

}



.button10{height:25pt; font-size: 14px;
border:1px solid #666666; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-family:arial, helvetica, sans-serif; padding: 5px 5px 5px 5px; text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF; background-color: #666666;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#707070));
 background-image: -webkit-linear-gradient(top, #666666, #707070);
 background-image: -moz-linear-gradient(top, #666666, #707070);
 background-image: -ms-linear-gradient(top, #666666, #707070);
 background-image: -o-linear-gradient(top, #666666, #707070);
 background-image: linear-gradient(to bottom, #666666, #707070);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#666666, endColorstr=#707070);
}

.button10:hover{
 border:1px solid #333333; background-color: #4d4d4d;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#4d4d4d), top(#575757));
 background-image: -webkit-linear-gradient(top, #4d4d4d, #575757);
 background-image: -moz-linear-gradient(top, #4d4d4d, #575757);
 background-image: -ms-linear-gradient(top, #4d4d4d, #575757);
 background-image: -o-linear-gradient(top, #4d4d4d, #575757);
 background-image: linear-gradient(to bottom, #4d4d4d, #575757);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#4d4d4d, endColorstr=#575757);
}